body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#description-info, #round-info {
    display: flex;
    text-align: center;
    border: none;
    width: 100%;
}

#description-info {
    font-size: 48px;
}

#round-info {
    font-size: 24px;
    margin-top: 5px;
}

.teams-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 10px;
}

.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    width: 40%;
    border-radius: 5px;
}

.teamSub {
    width: 100%;
}

.team-name {
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    border: none;
    background: none;
    text-align: center;
    color: inherit;
}

.team-counter {
    font-size: 36px;
    margin-left: 0px;
    text-align: center;
}

.team-count-button {
    background-color: #D0D0D0;
    color: #404040;
    border: none;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    transition-duration: 0.15s;
}

.team-count-button:hover {
    background-color: #F0F0F0;
    color: #202020;
    cursor: pointer;
}

.team-count-button:active {
    background-color: #A0A0A0;
    color: #000000;
}

.team-count-button:disabled {
    background-color: #D0D0D0;
    color: #404040;
    opacity: 50%;
    cursor: not-allowed;
}

.team-counter-value {
    margin-left: 10px;
    margin-right: 10px;
}

#team-yellow {
    background-color: yellow;
    color: black;
}

#team-blue {
    background-color: blue;
    color: white;
}

.timer-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.main-timer-container {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.main-timer-container .timer-display {
    font-size: 65px;
    font-weight: bold;
}

.penalty-timer {
    margin: 0 10px;
    text-align: center;
}

.timer-display {
    font-size: 30px;
    font-weight: bold;
}

.controls {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
}

.timer-toggle-button, .timer-reset-button, #teamSwapButton {
    padding: 5px 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition-duration: 0.2s;
}

.timer-toggle-button, .timer-reset-button {
    background-color: #3498DB;
    color: #FFFFFF;
    font-size: 16px;
    width: 45px;
}

.timer-toggle-button:hover, .timer-reset-button:hover {
    background-color: #3CB1FF;
    cursor: pointer;
}

.timer-toggle-button:active, .timer-reset-button:active {
    background-color: #2777AD;
}

.timer-toggle-button:disabled, .timer-reset-button:disabled {
    background-color: #3498DB;
    color: #FFFFFF;
    opacity: 50%;
    cursor: default;
}

#teamSwapButton {
    font-size: 18px;
    background-color: #E67E22;
    color: #FFFFFF;
    align-self: center;
}

#teamSwapButton:hover {
    background-color: #FF7700;
    cursor: pointer;
}

#teamSwapButton:active {
    background-color: #b35300;
}

.author-label {
    margin-top: 20px;
    font-size: 12px;
    color: gray;
    text-align: center;
}
